/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
   font-size: 1.4rem;
   color: #333;
}